@model IEnumerable<Tourism.Models.Candidate2>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Our Candidate</h1>
        <table border="1">
            <tr>
                <th>Candidate ID</th>
                <th>Candidate Name</th>
                <th>Candidate Job</th>
                <th>Candidate Department</th>
            </tr>
            @foreach(var candidate in Model)
            {
                <tr>
                    <td>@candidate.Id</td>
                    <td>@candidate.Name</td>
                    <td>@candidate.Job</td>
                    <td>@candidate.Department</td>
                    @* <td>@candidate.Stars</td> *@
                </tr>
            }
        </table>
        <p>
            <a href="/Home/Register">Register Candidate</a>
        </p>
    </body>
</html>